@charset "utf-8";


/**********************************************
全体
***********************************************/
*{
  font-family: sans-serif,"Hiragino Kaku Gothic ProN";
  font-size:16px;
}
a{
  text-decoration: none;
  color: #000;
}
.body{
  width: 100%;
  margin: 0 auto;
}
.body__title{
  font-size: 30px;
  font-weight: normal;
  margin-top: 90px;
  margin-bottom: 90px;
}

/* dl-format */
.dl-format{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  width:100%;
  max-width:1420px;
  min-width: 600px;
}
.dl-format dt{
  width:20%;
  height:240px;
  font-size:20px;
}
.dl-format dd{
  width:80%;
  line-height: 2;
}


/**********************************************
  ヘッダー
***********************************************/
.header {
  width: 75%;
  min-width: 650px;
  height: 105px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
img.header_logo {
  width: 100px;
}
nav.gnav {
  width: 460px;
}
ul.menu {
  display: flex;
  justify-content: space-between;
}
nav.gnav a {
  font-size: 17px;
  color: #707070;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}
.header_cart {
  margin-top: -10px;
}
footer {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
p.copy {
  font-size: 14px;
  color: #4a4a4a;
}


/**********************************************
  ホーム画面
***********************************************/
.main-content{
  width: 75%;
  margin: 0 auto;
}
.main-content__title{
  font-size:32px;
  font-weight: normal;
  margin-top:12px;
  margin-bottom: 24px;
}
.main-content__img{
  width:100%;
}

.button-area {
  width:100%;
  height: 80px;
  margin-top:40px;
  text-align: center;
}
/* mid button */
.button-area .mid-button{
  width: 360px;
  padding: 20px 24px 20px 24px;
  font-size:18px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  background-color: #fff;
}


/**********************************************
  フォーム
***********************************************/
.form-content{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  width:100%;
  max-width:1420px;
  min-width: 600px;
  margin: 0 auto;
}
.form-content__title{
  width:20%;
  height:240px;
  font-size:20px;
}
.form-content__subtitle{
  width:20%;
  height:150px;
}
.form-content__name{
  width:80%;
}
.form-content__description{
  width:80%;
  line-height: 2;
}
.form-content__radio{
  width:80%;
}

.form-content__select{
  width:80%;
}
.form-content select{
  width:40%;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  outline:0;
}
.form-content__select select:focus{
  box-shadow: 0 0 5px #87cefa;
}

.form-content__textarea{
  width:80%;
}
.form-content__textarea textarea{
  width:80%;
  height:120px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  outline:0;
}
.form-content__textarea textarea:focus{
  box-shadow: 0 0 5px #87cefa;
}

.form-content__form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1420px;
}
.form-content__input{
  width:80%;
}
.form-content__input input{
  width:80%;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  outline:0;
}
.form-content__input input:focus{
  box-shadow: 0 0 5px #87cefa;
}
.form-content__submit input{
  width: 360px;
  height: 60px;
  font-size:18px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  background-color: #fff;
}
.form-content__submit input:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition: all .4s;
}
.link-button{
  width:100%;
  text-align: center;
  margin-top:30px;
}
.link-button a{
  width:360px;
  height:60px;
  font-size:18px;
  border-bottom:1px solid #c0c0c0;
}
.form-button a{
  width: 360px;
  padding: 20px 0;
  display: block;
  font-size:18px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
}
.form-button a:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition: all .4s;
}





.main_img{
  width: 100%;
  height: auto;
}

.message{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display:flex;
  flex-flow: column;
  margin-top: 20px;
  gap: 50px;
}

.message-down{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display:flex;
  flex-flow: column;
  margin-top: 100px;
  gap: 50px;
}

.message-about{
  display: flex;
}

.text{
  flex-basis: 30%;
}

div#goods{
  margin-top: 100px;
  width: 700px;
  height: 300px;
  display: grid; 
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(4, 300px);
  column-gap: 100px; 
}
figure.item {
  margin: auto;
}
.item img {
  width: 250px; height: 250px;
}
.item figcaption {
  margin-top: 10px;
  text-align: center; font-size: 105%;
}

.Next{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 180px 300px 300px;
  grid-template-rows: 100px 100px;
  column-gap: 200px;
  row-gap: 50px;
}

.box1{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box3{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box4{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box5{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.message{
    margin-top: 150px;
}

.message-about{
  margin-top: 150px;

  font-size:18px;

}
.goods{
    margin-top: 200px;
}
.Next{
    margin-top: 200px;
}