@charset "utf-8";


/**********************************************
全体
***********************************************/
*{
  font-family: sans-serif,"Hiragino Kaku Gothic ProN";
  font-size:16px;
}
a{
  text-decoration: none;
  color: #000;
}
.body{
  width: 100%;
  margin: 0 auto;
}
.body__title{
  font-size: 30px;
  font-weight: normal;
  margin-top: 90px;
  margin-bottom: 90px;
}

/* dl-format */
.dl-format{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  width:100%;
  max-width:1420px;
  min-width: 600px;
}
.dl-format dt{
  width:20%;
  height:240px;
  font-size:20px;
}
.dl-format dd{
  width:80%;
  line-height: 2;
}

/* ボタン配置 */
.button-lineup {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  width:100%;
  max-width:1420px;
  min-width: 600px;
  margin: 80px auto;
}
.button-lineup__title{
  width:20%;
}
.button-lineup__buttonarea{
  width:80%;
  display: flex;
  flex-wrap: wrap;
}
.button-lineup__button{
  margin:20px;
}
.button{
  width: 360px;
  height: 60px;
  font-size:18px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 50px;
}
.button:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition: all .4s;
}


/* 小見出し */
.h2-title{
  margin:20px auto 0;
  font-size: 24px;
  text-align: center;
  border-bottom: #000;
}

/* 区切り線 */
hr {
  height: 0;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0;
  border: 0;
}
hr {
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#ccc), to(transparent));
  background-image: linear-gradient(to right, transparent, #ccc, transparent);
}


/**********************************************
  ヘッダー
***********************************************/
.header {
  width: 75%;
  min-width: 650px;
  height: 105px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
img.header_logo {
  width: 100px;
}
nav.gnav {
  width: 400px;
}
ul.menu {
  display: flex;
  justify-content: space-between;
}
nav.gnav a {
  font-size: 17px;
  color: #707070;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}
.header_cart {
  margin-top: -10px;
}


/**********************************************
  フッター
***********************************************/
.footer {
  width: 75%;
  height: 150px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.2px solid #c0c0c0;
}
p.copy {
  font-size: 14px;
  color: #4a4a4a;
}


/**********************************************
  ホーム画面
***********************************************/
.main-content{
  width: 75%;
  margin: 0 auto;
}
.main-content__title{
  font-size:32px;
  font-weight: normal;
  margin-top:12px;
  margin-bottom: 24px;
}
.main-content__img{
  width:100%;
}

.button-area {
  width:100%;
  height: 80px;
  margin-top:40px;
  text-align: center;
}
/* mid button */
.button-area .mid-button{
  width: 360px;
  padding: 20px 24px 20px 24px;
  font-size:18px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  background-color: #fff;
}

.main-img{
  margin: 0 auto;
  width: 80%;
}
.main-img__img {
  width:100%;
}

.message{
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display:flex;
  flex-flow: column;
  margin: 0 auto;
  margin-top: 20px;
  gap: 50px;
}

.message-down{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display:flex;
  flex-flow: column;
  margin-top: 100px;
  gap: 50px;
}

.message-about{
  display: flex;
  margin:0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.message-about__title{
  width: 20%;
  min-width: 120px;
  max-width: 288px;
}
.message-about__text{
  width:80%;
  min-width: 480px;
  max-width: 856px;
}

div#goods{
  margin-top: 100px;
  width: 700px;
  height: 300px;
  display: grid; 
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(4, 300px);
  column-gap: 100px; 
}
figure.item {
  margin: auto;
}
.item img {
  width: 250px; height: 250px;
}
.item figcaption {
  margin-top: 10px;
  text-align: center; font-size: 105%;
}

.Next{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 180px 300px 300px;
  grid-template-rows: 100px 100px;
  column-gap: 200px;
  row-gap: 50px;
}

.goods{
    width:80%;
    max-width:1280px;
    min-width:640px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.goods__item{
  width:300px;
  height: 250px;
  text-align: center;
}
.goods__item img{
  width:250px;
  height:150px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 0px 3px #ffa500;
}
.goods__item figcaption{
  text-align: center;
  margin-top: 10px;
  
}
.Next{
    margin-top: 200px;
}


/**********************************************
  フォーム
***********************************************/
.form-content{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  width:100%;
  max-width:1420px;
  min-width: 600px;
  margin: 0 auto;
}
.form-content__title{
  width:20%;
  height:240px;
  font-size:20px;
}
.form-content__subtitle{
  width:20%;
  height:150px;
}
.form-content__name{
  width:80%;
}
.form-content__description{
  width:80%;
  line-height: 2;
}
.form-content__radio{
  width:80%;
}

.form-content__select{
  width:80%;
}
.form-content select{
  width:40%;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  outline:0;
}
.form-content__select select:focus{
  box-shadow: 0 0 5px #87cefa;
}

.form-content__textarea{
  width:80%;
}
.form-content__textarea textarea{
  width:80%;
  height:120px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  outline:0;
}
.form-content__textarea textarea:focus{
  box-shadow: 0 0 5px #87cefa;
}

.form-content__form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1420px;
  margin: auto;
}
.form-content__input{
  width:80%;
}
.form-content__input input{
  width:80%;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  outline:0;
}
.form-content__input select{
  width:60%;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  outline:0;
}
.form-content__input div{
  width:80%;
    display: flex;
    flex-wrap: wrap;
    justify-content:  space-between;

}
.form-content__input div input{
  width:47%;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  outline:0;
}
.form-content__input input:focus{
  box-shadow: 0 0 5px #87cefa;
}
.form-content__input select:focus{
  box-shadow: 0 0 5px #87cefa;
}
.form-content__submit input{
  width: 360px;
  height: 60px;
  font-size:18px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  background-color: #fff;
}
.form-content__submit input:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition: all .4s;
}
.form-content__submit_a input{
  width: 150px;
  height: 60px;
  font-size:18px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  background-color: #fff;
  margin-left: 15px;
}
.form-content__submit_a input:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition: all .4s;
}
.link-button{
  width:100%;
  text-align: center;
  margin-top:30px;
}
.link-button a{
  width:360px;
  height:60px;
  font-size:18px;
  border-bottom:1px solid #c0c0c0;
}
.form-button a{
  width: 360px;
  padding: 20px 0;
  display: block;
  font-size:18px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
}
.form-button a:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition: all .4s;
}

/* child_change */
.change-icon input[type="radio"]{
  display: none;
}
.change-icon{
  margin-bottom:100px;
}
.change-icon_img{
  width: 140px;
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.change-icon input[type="radio"]:checked + label img{
  background-color: #ffa500;
}


/* カスタマイズ */
.change-badge{
  margin-bottom:100px;
}
.change-badge div{
  display: inline-block;
}
.change-badge_img{
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.change-badge div input[type="checkbox"]{
  display: none;
}
.change-badge div input[type="checkbox"]:checked + label img{
  border: 5px solid #ffa500;
  box-sizing: border-box;
}


/* アカウント情報 */
.account_info {
  height: 80px;
}



/* ミッション追加 */
.mission-post input[type="checkbox"]{
  width: 20px;
  margin-bottom: 10px;
}
.mission-post p{
  margin-bottom: 10px;
}
.mission-post input , textarea{
  margin: 10px 0 80px;
}
.mission-post textarea{
  width:80%;
  height:80px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  outline:0;
}
.mission-post textarea:focus{
  box-shadow: 0 0 5px #87cefa;
}

/**********************************************
  利用者（子供用）マイページ
***********************************************/
.mypage_child{
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
}
.mypage_child__top{
  margin-top: 50px;
  margin-bottom: 10px;
}
.mypage_child .img{
  width: 80px;
  height: 80px;
}
.mypage_child h1{
  font-size: 30px;
  color: #1b1b1b;
  margin: 50px 0 100px 60px;
  display: inline;
  padding-right: 20px;
  font-weight: normal;
}

.logout_text{
  display: inline;
  font-size: 12px;
}
.logout_img{
  width:20px;
  margin-bottom: -3px;
}

.mypage_child h2{
  margin: 16px 10px 0 100px;
  width: 130px;
  font-size: 16px;
  color: #1b1b1b;
}
.user-info{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: -15px 0 0 280px;
}
.user-info_class{
  width: 300px;
  margin: 0 64px 32px 0;
}
.user-info_class h3{
  margin: -80px 0 0 90px;
  width: 200px;
  font-size: 16px;
  color: #1b1b1b;
}
.user-info_class p{
  margin: 6px 0 60px 90px;
  width: 200px;
  font-size: 12px;
  color: #333333;
}
.shopping-info{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: -15px 0 0 280px;
}
.shopping-info_class{
  width: 300px;
  margin: 0 64px 16px 0;
}
.shopping-info_class h3{
  margin: -80px 0 0 90px;
  width: 200px;
  font-size: 16px;
  color: #1b1b1b;
}
.shopping-info_class p{
  margin: 6px 0 60px 90px;
  width: 200px;
  font-size: 12px;
  color: #333333;
}
.management-info{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: -15px 0 0 280px;
}
.management-info_class{
  width: 300px;
  margin: 0 64px 16px 0;
}
.management-info_class h3{
  margin: -80px 0 0 90px;
  width: 200px;
  font-size: 16px;
  color: #1b1b1b;
}
.management-info_class p{
  margin: 6px 0 60px 90px;
  width: 200px;
  font-size: 12px;
  color: #333333;
}


/****************** 子供ステータス ********************/
.child-status{
  width: 80%;
  max-width: 1280px;
  min-width: 620px;
  height: 200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 30px;
  /* border: 1px solid #000; */
  box-shadow: 0 0 5px 2px #dcdcdc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.child-status__icon{
  width:25%;
  display: flex;
  justify-content: center;
}
.child-status__icon-img{
  width:150px;
  height:150px;
  border-radius: 100%;
  border: 5px solid #87cefa;
  box-shadow: 0 0 1px 4px #ffa500;
}
.child-status__description{
  width:75%;
}
.child-status__description h3{
  font-size: 30px;
  border-bottom: 1px solid #c0c0c0;
}
.child-status__description h3 span{
  font-size: 24px;
  margin-left: 20px;
}
.child-status__badge-area{
  width:50%;
  max-width: 300px;
  min-width: 260px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.child-status__badge{
  width:80px;
  height:80px;
  border-radius: 100%;
  box-shadow: 0 0 1px 2px #c0c0c0;
}

/****************** 保護者ステータス ********************/
.parent-status{
  width: 80%;
  max-width: 1280px;
  min-width: 620px;
  height: 200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 40px;
  /* border: 1px solid #000; */
  box-shadow: 0 0 5px 2px #dcdcdc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.parent-status__name{
  width:75%;
  margin-bottom: 20px;
}
.parent-status__name h3{
  font-size: 30px;
  border-bottom: 1px solid #c0c0c0;
}
.parent-status__name h3 span{
  font-size: 20px;
  margin-left: 0;
}
.parent-status__child{
  width: 64%;
}
.parent-status__child-title{
  font-size: 20px;
  margin-left: -15px;
  margin-bottom:8px;
}
